/* .coin-info-heading {
    margin-top: 0rem;
} */

.coin-info {
    padding: 2rem;
    width: 85%;
    margin: 1.5rem auto;
    background-color: var(--darkgrey);
    border-radius: 2rem;
}

.coin-info-desc {
    cursor: pointer;
}

.coin-info-desc a {
    text-decoration: underline;
}

.coin-info-desc a:hover {
    color: var(--blue) !important;
    transition: all 0.3s;
}
